mixin headerTemplate(isAmp=false)
  header.header.container
    a.brand-link.flex.flex-center.text-primary(href= '/', title= SITE_NAME)
      svg(fill="currentColor", width="40", height="40")
        use(xlink:href="#icon-brand")
      h2.brand-name.heading.ml10= SITE_NAME
