mixin ratingTemplate(rating = {})
  -var i = 1;
  -var MAX_SCORE = 5;
  -var RATING_SCORE = Number(rating.score || 4.5);
  -var RATING_COUNT = Number(rating.count || 1);

  .flex
    .rating.text-primary.flex
      -if (RATING_SCORE >= 0)
        while i <= MAX_SCORE
          svg.icon
            -if (i <= RATING_SCORE)
              use(xlink:href=`#icon-star`)
            -else
              -if (RATING_SCORE > i-1)
                use(xlink:href=`#icon-star-half`)
              -else
                use(xlink:href=`#icon-star-empty`)
          - i++
    .recipe-rating-count.ml5.text-small
      | #{RATING_SCORE} (#{RATING_COUNT})
