extends _default/base.pug

block metadata
  -var metaCanonical = `${BASE_URL}/404`

block main
  .container.text-center
    h1.heading.heading-section Page not found

    p Back to 
      a.text-primary(href="/", title="Authentic Aftertaste") home!
    p.text-small.mt20 Auto back to homepage after 
      strong 1 min.

block script
  script(type="text/javascript").
    setTimeout(function() {
      window.location.href = window.location.protocol + '//' + window.location.host;
    }, 60000);
