$summary-width: 300px;

.recipe {
  &-wrapper {
    @media screen and (max-width: $desktopMin) {
      border-radius: 20px 20px 0 0;
    }
  }

  &-cover {
    display: block;
    border-radius: 20px 20px 0 0; // Clear card border

    @media screen and (max-width: $mobileMax) {
      height: 220px;
    }
    @media screen and (min-width: $tabletMin) {
      height: 480px;
    }
  }

  &-content {
    position: relative;
  }

  &-info {
    max-width: 640px;
  }

  &-summary {
    position: absolute;
    top: -40px;
    right: 60px;
    width: $summary-width;
    padding: $space-super-large $space-large;
  }

  &-rating {
    &-count {
      margin-top: 3px;
    }
  }

  &-section {
    border-top: 1px solid var(--divider-color);
    margin-top: 20px;
    padding-top: 10px;
    cursor: pointer;

    &-icon {
      transition: all .2s ease-in-out;
      transform: rotate(90deg);

      &.collapse {
        transform: none;
      }
    }

    &-content {
      transition: all .2s ease-in-out;
      overflow: hidden;
      margin-top: $space-super-large;
      padding: 0 $space-super-large;

      &.collapse {
        max-height: 0;
      }
    }
  }

  // Ingredient / Direction item checklist
  &-item {
    cursor: pointer;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: $space-normal;
    margin-bottom: $space-large;
  }

  &-checkbox {
    transition: all .2s ease-in-out;
    border: 1px solid var(--text-secondary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &.done {
      background-color: var(--primary-color);
      position: relative;

      span {
        display: none;
      }

      &:after {
        content: "";
        position: absolute;
        height: 14px;
        left: 16px;
        top: 10px;
        width: 6px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  &-label {
    transition: all .2s ease-in-out;
    margin: 0;

    &.done {
      color: var(--text-secondary-color);
    }
  }
}
