html {
  overscroll-behavior-y: none;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media screen and (min-width: $desktopMin) {
    max-width: $container-max-w;
  }
  @media screen and (max-width: $tabletMax) {
    max-width: calc(100vw - $space-large);
  }
  @media screen and (max-width: $mobileMax) {
    max-width: calc(100vw - $space-normal);
  }

  &-small {
    @media screen and (min-width: $desktopMin) {
      max-width: $container-small-max-w;
    }
  }

  &-full {
    @media screen and (min-width: $desktopMin) {
      max-width: $container-full-max-w;
    }
  }

  &-blog {
    @media screen and (min-width: $tabletMax) {
      display: grid;
      grid-gap: $space-normal;
      grid-template-columns: 1fr $sidebar-width;
    }
  }
}
