/* Theme colors */
// Primary
$primary-color: #ff7629;
$primary-light-color: #ffeadf;
$primary-super-light-color: #fff7f2;

$white: #fff;

$black-dark-color: #131313;
$black-color: #4e4e4e;
$black-light-color: #d0d0d0; 
$black-super-color: #fafafa;

/* Component colors */
$body-bg-color: $black-super-color;
$body-bg-color-dark: $black-super-color;

// Text
$text-color: $black-color; // Text Body
$text-color-dark: $black-color;
$text-title-color: $black-dark-color; // Title / Heading
$text-title-color-dark: $black-dark-color;
$text-secondary-color: $black-light-color; // Text-light / Border
$text-secondary-color-dark: $black-light-color;

// Border
$divider-color: $black-light-color;
$divider-color-dark: $black-light-color;

// Card
$card-bg-color: $white;
$card-bg-color-dark: $white;

/* Breakpoint */
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1199px;
$desktopMin: 1200px;

/* Container */
// Max width on desktop
$container-small-max-w: 960px;
$container-max-w: 1160px;
$container-full-max-w: 1600px;
$sidebar-width: 300px;

/* Metrics */
$space-tiny: 5px;
$space-small: 10px;
$space-normal: 20px;
$space-large: 30px;
$space-super-large: 40px;

/* Typography */
/**
 * Use system-fonts for performance and native UI
 * https://meta.stackexchange.com/q/364048
 * https://markdotto.com/2018/02/07/github-system-fonts/
 **/
$font-size-base: 18px;
$font-family:
  system-ui, -apple-system, BlinkMacSystemFont, // San Francisco on macOS and iOS
  "Segoe UI", // Windows
  "Ubuntu", // Ubuntu
  "Roboto", "Noto Sans", "Droid Sans", // Chrome OS and Android with fallbacks
  sans-serif; // The final fallback for rendering in sans-serif.
$font-weight-bold: 600;
$font-weight-bold-light: 500;
$font-weight-bold-super: 700;

/* Icon */
$icon-size-small: 12px;
$icon-size-normal: 24px;
$icon-size-large: 48px;

/* Radius */
$radius-small: 4px;
$radius-normal: 8px;
$radius-large: 16px;

/* Animation */
$easing: ease-out;
$speed: 0.5s;
