:root {
  // Common colors use for both mode
  --primary-color: #{$primary-color};
  --primary-light-color: #{$primary-light-color};
  --primary-extra-light-color: #{$primary-extra-light-color};

  --body-bg-color: #{$body-bg-color};
  --text-color: #{$text-color};
  --text-title-color: #{$text-title-color};
  --text-secondary-color: #{$text-secondary-color};
  --divider-color: #{$divider-color};
  --card-bg-color: #{$card-bg-color};
}

.dark:root {
  --body-bg-color: #{$body-bg-color-dark};
  --text-color: #{$text-color-dark};
  --text-title-color: #{$text-title-color-dark};
  --text-secondary-color: #{$text-secondary-color-dark};
  --divider-color: #{$divider-color-dark};
  --card-bg-color-dark: #{$card-bg-color-dark};
}
