// Layout for Homepage and Listing page
.footer {
  background-color: #fff;
  border-top: 1px solid var(--divider-color);

  @media screen and (max-width: $mobileMax) {
    padding: $space-large 0;
  }
  @media screen and (min-width: $tabletMin) {
    padding: 100px 0;
  }
}
