.input {
  &-group {
    display: grid;
    grid-template-columns: 82px 1fr 60px;
  }

  &-number {
    border: none;
    outline: none;
    border-bottom: 2px dashed var(--divider-color);

    // Only apply for mobile, no tablet
    @media screen and (max-width: $mobileMax) {
      max-width: 200px;
    }
  }
}