// Logo
.brand {
  &-link {
    height: 40px;
    color: transparent
  }
}

.header {
  z-index: 2;
  position: relative;
  background-color: var(--primary-color);

  @media screen and (max-width: $mobileMax) {
    // Height with padding is 60px
    height: 40px; // Fixed value
    padding: $space-small 0;
  }
}
