// Logo
.brand {
  &-link {
    height: 50px;
  }

  &-name {
    font-size: 2rem;
  }
}

.header {
  @media screen and (max-width: $mobileMax) {
    padding: $space-normal 0;
  }
  @media screen and (min-width: $tabletMin) {
    padding: $space-super-large 0;
  }
}
