.hero {
  color: #fff;
  background-color: var(--primary-color);

  &-div {
    display: block;
    background: url('/img/div.png') 0 0;
    height: 13px;
  }

  // Specific type
  &-blog {
    background-color: #fff;
  }
}