img {
  max-width: 100%;
}

.img {
  &-recipe {
    object-fit: cover;
    width: 100%;

    &-thumb {
      height: 200px;

      @media screen and (min-width: $tabletMin) {
        max-width: 320px;
      }
    }

    &-cover {
      border-radius: 20px 20px 0 0; // Clear card border

      @media screen and (max-width: $mobileMax) {
        height: 210px;
      }
      @media screen and (min-width: $tabletMin) {
        height: 360px;
      }
    }
  }

  &-radius {
    border-radius: $radius-large;
  }
}

amp-img {
  margin: 0 auto;
}