.list {
  &-recipe-wrapper {
    @media screen and (max-width: $mobileMax) {
      padding: $space-normal $space-small;
    }
    @media screen and (min-width: $tabletMin) {
      padding: 60px;
    }
  }

  &-recipe {
    display: block;
    margin-bottom: $space-super-large;

    &:hover {
      .heading {
        transition: all .2s ease-in-out;
        color: var(--primary-color);
      }
    }

    @media screen and (min-width: $tabletMin) {
      display: grid;
      grid-gap: $space-normal;
      grid-template-columns: 320px 1fr;
    }

    // Grid layout:
    &-thumb {
      object-fit: cover;
      width: 100%;
      height: 200px;

      @media screen and (min-width: $tabletMin) {
        max-width: 320px;
      }
    }

    &-summary {
      @media screen and (min-width: $tabletMin) {
        padding: $space-small 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &-desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      @media screen and (min-width: $mobileMax) {
        -webkit-line-clamp: 3;
      }
      @media screen and (min-width: $tabletMin) {
        -webkit-line-clamp: 2;
      }
    }
  }
}
