.list {
  &-recipe {
    margin-bottom: $space-super-large;

    @media screen and (min-width: $tabletMin) {
      display: grid;
      grid-gap: $space-normal;
      grid-template-columns: 320px 1fr;
      padding: 0 60px;
    }

    // Grid layout:
    &-thumb {
      width: 320px;
      height: 200px;
      object-fit: cover;
    }

    &-summary {
      @media screen and (min-width: $tabletMin) {
        padding: $space-normal 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
