.flex {
  display: flex;
  justify-items: center;
  align-items: center;

  &-default {
    align-items: unset;
  }

  &-item-end {
    align-items: flex-end;
  }

  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }
}

.hidden {
  display: none;

  &-mobile {
    @media screen and (max-width: $mobileMax) {
      display: none;
    }
  }

  &-tablet {
    @media screen and (min-width: $tabletMin) {
      display: none;
    }
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}

// Margin
.m0 {
  margin: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
// Padding
.p0 {
  padding: 0;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pt60 {
  padding-top: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.pr60 {
  padding-right: 60px;
}
.pl60 {
  padding-left: 60px;
}

#overlay {
  overflow: hidden;
  opacity: .5;
  transition: opacity .15s linear;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
