mixin homeTemplate(isAmp=false)
  .container.pb40
    .card.card-border.content
      .text-center
        h1.heading.heading-page Newest Recipes
        p We're all about good recipes and quality home cooking that everyone can enjoy.

      include ../components/list-recipes.pug
      +listRecipeTemplate((recipes || []))
