mixin homeTemplate(isAmp=false)
  .container.pb40
    .card.card-border
      .text-center
        h1.heading.heading-page= recipe.name
        p Lorem ipsum dolor sit amet consectetur adipiscing eli sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet consectetur adipiscing eli sed do eiusmod tempor incididunt ut labore et dolore.
