extends ../_default/base.pug

block metadata
  -var metaCanonical = `${BASE_URL}/ve-chung-toi`

block main
  .container
    h1.heading.heading-section.mt20.text-center Ý tưởng

    .card.mt20
      p Cảm ơn bạn đã sử dụng website!
