extends ../_default/base.pug

block metadata
  -var metaCanonical = `${BASE_URL}/mien-tru-trach-nhiem`

block main
  .container
    h1.heading.heading-section.mt20.text-center Miễn Trừ Trách Nhiệm

    .card.mt20
      p
        strong.text-primary domain.com
        | không có trách nhiệm pháp lý nào về bất kỳ tổn thất hoặc thiệt hại nào phát sinh từ việc sử dụng thông tin của website này.

      p Cảm ơn quý khách đã sử dụng website!
