extends ../_default/base.pug

block metadata
  -var metaCanonical = `${BASE_URL}/dieu-khoan`

block main
  .container
    h1.heading.heading-section.mt20.text-center Điều khoản sử dụng

    .card.mt20
      p Các điều khoản và điều kiện sau đây (gọi chung là các "Điều khoản sử dụng") quy định các quyền và nghĩa vụ của Người dùng khi truy cập, sử dụng website domain.com. Người dùng có nghĩa vụ đọc kỹ tất cả các nội dung được nêu dưới đây nhằm nhận thức rõ quyền hạn và trách nhiệm của Người dùng theo quy định của domain.com.
