img {
  max-width: 100%;
}

.img {
  &-radius {
    border-radius: $radius-normal;
  }

  &-banner {
    width: 100%;
    border-radius: $radius-normal $radius-normal 0 0;
  }
}

amp-img {
  margin: 0 auto;
}